body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    background: #a74caf;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.hero-image {
    width: 100%;
    height: auto;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #333;
    color: white;
}

h2 {
    margin-top: 0;
}

ul {
    list-style: disc;
    padding-left: 20px;
}

h1 {
    margin-bottom: 0;
}

.cta-button {
    background: #FF9800;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
    display: inline-block;
}

#hero {
    position: relative;
    text-align: center;
}

.hero-image {
    width: 100%;
    height: auto;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Menambahkan bayangan untuk meningkatkan keterbacaan */
}

.cta-button {
    background: #FF9800;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
    display: inline-block;
}

div {
    section {
        background-color: #e411b6;
        padding:20px;
        margin-bottom: 20px;
        border-radius: 20px;
    }
}